@model IMS.Models.Supplier

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title">Editing</h3>
</div>

<div class="body">
    <h3 style="text-align: center;">Are you sure you want to delete @Html.DisplayFor(model => model.SupplierName) ?</h3>
</div>
<div class="modal-footer">
    @using (Html.BeginForm("Delete", "Supplier", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
            <input class="btn btn-danger" type="submit" value="Yes" />
            <button class="btn btn-primary" data-dismiss="modal">No</button>
    }
</div>





