<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -kingsway</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Content/style.css" rel="stylesheet">
    <link href="~/Content/style-responsive.css" rel="stylesheet">

    @Scripts.Render("~/bundles/jquery")

</head>

<body style="background-color: black">
    <div>
        <!--Rendering Body Start-->
            @RenderBody()
        <!--Rendering Body End-->
    </div>

    <!--footer start-->
    @*<footer class="site-footer">
        <div class="text-center">
            &copy; @DateTime.Now.Year - Bizzdesk Global Group
            <a href="" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>*@
    <!--footer end-->



    <!-- js placed at the end of the document so the pages load faster -->
    <script src="~/Scripts/bootstrap.js"></script>

</body>
</html>
